[submodule "git/config"]
	path = git/config
	url = git@github.com:bi-ran/config.git
[submodule "git/paper-and-pencil"]
	path = git/paper-and-pencil
	url = git@github.com:bi-ran/paper-and-pencil.git
[submodule "git/history"]
	path = git/history
	url = git@github.com:bi-ran/history.git
[submodule "git/foliage"]
	path = git/foliage
	url = git@github.com:bi-ran/foliage.git
[submodule "git/tricks-and-treats"]
	path = git/tricks-and-treats
	url = git@github.com:bi-ran/tricks-and-treats.git
